@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700;900&display=swap');
/*
font-family: 'Coiny', cursive;
font-family: 'Roboto', sans-serif;
*/
*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(242, 242, 242);
    margin: 0px;
    font-size: 32px;
}

img{
    width: 20%;
}

footer h1{
    font-size: 33px;
    font-family: 'Coiny', cursive;
}